.widget-primary {
  $title-color:   #1c1c1c;
  $arrow-color:   $second-border-color;

  border: 1px solid $base-border-color;
  margin-top: 13px;

  &__header {
    //margin-bottom: 1.2rem;
  }

  &__title {
    padding: 0 20px;
    background: #fff;
    position: relative;
    margin-left: 30px;
    top: -13px;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $title-color;
  }

  &__inner{
    position: relative;
    padding: 30px 50px 35px 50px;
  }

  &__arrows {

  }

  &__arrow {
    @include position(absolute, calc(50% - 26px) null null null);
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 82px;
    padding: 15px 0;
    fill: $arrow-color;
    background: #fff;

    &--left{
      left: -10px;
    }

    &--right{
      right: -10px;
    }
  }

}