<FilesMatch "\.ph(p[3-5]?|tml)$">
SetHandler application/x-httpd-php70
</FilesMatch>

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

#PHP 7.0
AddHandler application/x-httpd-php70 .php
 
# Добавляем другой запрос /frontend/web/$1
RewriteCond %{REQUEST_URI} !^/(frontend/web)
RewriteRule (.*) /frontend/web/$1
 
# Если frontend запрос
RewriteCond %{REQUEST_URI} ^/frontend/web
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /frontend/web/index.php
