.delivery-radio {

  &__field {
    display: table;

    &:not(:first-child) {
      padding-top: 15px;
    }
  }

  &__control {
    display: table-cell;
    width: 20px;
    vertical-align: top;
    position: relative;
    top: -2px;
  }

  &__content {
    display: table-cell;
    vertical-align: top;
  }

  &__title {
    color: #000;
    line-height: 1.2;
  }

  &__info {
    font-size: 0.9em;
    position: relative;
    margin-top: 3px;
    color: $base-font-color-secondary;
  }

  &__select {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &__select-label {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
  }
  &__select-control {
    display: inline-block;
    vertical-align: middle;
  }
}