body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 140px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-top {
        /*padding: 25px 0;*/
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        /*padding: 10px 0;*/
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.main-container {
    padding: 60px 0;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media (max-width: 767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24, 188, 156, .9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none !important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.category-help-block div {
    display: inline-block;
}

.spinner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 58, 77, 0.5);
    z-index: 1060;
    display: none;
}

.spinner:before,
.spinner:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #d5cfe7;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.spinner:after {
    background: url(../img/01-wallet.gif) no-repeat;
    width: 80px;
    height: 120px;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    animation: spinner 0.5s steps(14) infinite;
    -webkit-animation: spinner 0.5s steps(14) infinite;
}

.category-sortable.sortable.list li {
    height: auto;
    min-height: 50px;
    padding: 10px 0;
    margin: 0;
}

a.management-help,
a.management-help:hover {
    text-decoration: none;
    padding: 3px 6px;
    margin: 0 -10px 0 24px;
}

a.management-help.danger {
    color: #841003;
}

#menus-header ul li.active a {
    color: #18bc9c;
    background-color: transparent;
}

.transaction {
    margin-top: 15px;
}

.transaction .nav-pills > li {
    float: none;
}

.transaction .nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.transaction .nav-pills > .active > a,
.transaction .nav-pills > .active > a:hover,
.transaction .nav-pills > .active > a:focus {
    color: #fff;
    background-color: #08c;
}

.btn-group a,
.btn-group button {
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#transaction2Category {
    padding: 2px 50px;
}

#transaction2Category #transaction-transaction2category {
    padding-top: 6px;
}

#transaction2Category .checkbox {
    width: 40%;
    float: left;
    margin-top: -5px;
}

form .form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #e5e5e5;
}

form .form-actions button,
form .form-actions a {
    margin-right: 10px;
}

#transaction-accounts label {
    width: 100%;
}

.help-block-error {
    font-size: 14px;
}

.field-transaction-type_id {
    margin-top: -12px;
}

.type-id {
    padding-right: 20px;
}

.type-id.type-income,
.transaction-currency-type-income {
    color: #108830;
}

.type-id.type-expense,
.transaction-currency-type-expense {
    color: #AA4643;
}

.transaction .tag {
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
    color: #333;
    display: inline-block;
    font-size: 12px;
    margin: 1px 6px 1px 0;
    padding: 1px 4px;
    text-decoration: none !important;
    background-color: #ebebeb;
}

.transaction .tag.tag-blue {
    color: #355679;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(112, 162, 235, 0.11765);
}

.transaction .transaction-buttons,
.transaction .transaction-periods {
    padding: 0;
}

.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table th {
    text-align: center;
}

.table tr {
    border-bottom: 1px solid #C1BEBE;
}

.table td {
    text-align: left;
}

.table .check {
    width: 10px;
}

.table th.transaction-amount,
.table td.transaction-amount {
    text-align: right;
}

.table td .unit {
    color: #999;
    margin-left: 4px;
    display: inline-block;
}

.table td.button-group a {
    padding-right: 10px;
    text-decoration: none;
}

.transaction-currency-type-income:before,
ul.total-transactions > li.type-income > ul > li:before {
    content: "+ ";
}

.transaction-currency-type-expense:before,
ul.total-transactions > li.type-expense > ul > li:before {
    content: "- ";
}

.transaction-currency-type-transfer {
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    color: #228C1B;
}

.transaction-currency-type-transfer:before {
    content: "\e178";
    top: 4px;
    position: relative;
    right: 5px;
}

.transaction-currency-rest {
    font-size: 13px;
    margin-left: 2px;
}

.transaction-currency-rest,
.transaction-currency-type-income,
.transaction-currency-type-expense {
    display: inline-block;
}

#save-on-target .well,
#transaction-transfer .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
    display: inline-block;
    margin-right: 20px;
    min-width: 200px;
    vertical-align: top;
    width: 300px;
}

#transaction-transfer .transfer-info-block input {
    width: 306px;
}

#transaction-transfer .transfer-button-block > div {
    padding-left: 60px;
}

.grid-view > ul.pagination > li:first-child > a,
.grid-view > ul.pagination > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.grid-view > ul.pagination > li.disabled > span,
.grid-view > ul.pagination > li.disabled > a,
.grid-view > ul.pagination > li.disabled > span:hover,
.grid-view > ul.pagination > li.disabled > a:hover {
    color: #999;
    background-color: transparent;
    cursor: not-allowed;
    border: 1px solid #ddd;
}

.grid-view > ul.pagination > li.active > a {
    color: #999;
    cursor: default;
    background-color: #f5f5f5;
}

.grid-view > ul.pagination > li > a,
.grid-view > ul.pagination > li > span {
    float: left;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #18bc9c;
    padding: 4px 12px;
}

.grid-view > ul.pagination > li > a:hover {
    background-color: #f5f5f5;
    color: #18bc9c;
    border: 1px solid #ddd;
}

.grid-view > ul.pagination > li.active > a:hover {
    background-color: #f5f5f5;
    color: #999;
    border: 1px solid #ddd;
}

.clear-filter {
    font-size: 14px;
    color: #999;
    font-weight: bold;
    text-decoration: none;
    margin: 8px 0 0 2px;
    display: inline-block;
}

.clear-filter:hover {
    color: #666;
    text-decoration: none;
}

.footer-menu {
    text-align: left;
}

.footer-menu > div {
    font-size: 17px;
    padding: 4px 0;
}

.main-info-block p {
    font-size: 18px;
    padding-right: 20%;
}

.project-label {
    text-transform: none;
}

.periods-transactions {
    display: inline-block;
    float: right;
}

.periods-transactions label.pills {
    color: #999;
    line-height: 35px;
    font-size: 12px;
    margin: 0 10px 0 28px;
    float: left;
}

.periods-transactions .nav-pills > li {
    float: left;
}

.periods-transactions .nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.periods-transactions .nav-pills.small > li > a {
    padding: 12px;
    margin-right: 2px;
    line-height: 5px;
    font-size: 10px;
    cursor: pointer;
}

.periods-transactions .nav-pills > .active > a,
.periods-transactions .nav-pills > .active > a:hover,
.periods-transactions .nav-pills > .active > a:focus {
    color: #fff;
    background-color: #08c;
}
.periods-transactions .nav-pills > li > a > div.input-daterange input {
    float: left;
    height: 28px;
    width: 90px;
    padding: 2px 2px;
}
.periods-transactions .nav-pills > li > a > div.input-daterange span {
    height: 20px;
    margin: 0;
    line-height: 1px;
}
.periods-transactions .nav-pills > li > a.range-period {
    padding: 0 12px;
    vertical-align: middle;
}

@media (min-width: 1200px) {
    .periods-transactions {
        width: 850px;
    }
}

@media (min-width: 800px) {
    .periods-transactions {
        width: 740px;
    }
}

.periods-transactions .nav > li > a:hover,
.periods-transactions .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

ul.total-transactions {
    padding: 8px 15px;
    margin-top: 15px;
    list-style: none;
    border-radius: 4px;
}

ul.total-transactions, ul.total-transactions ul {
    list-style: none;
}

ul.total-transactions > li {
    border: 1px solid #000000;
    border-bottom: none;
}

ul.total-transactions > li.type-income {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin-bottom: 5px;
}

ul.total-transactions > li.type-expense {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    margin-bottom: 5px;
}

ul.total-transactions > li .label-type-transaction {
    font-weight: bold;
    color: #616161;
    margin-left: 10px;
}

.transaction-transfer-line {
    color: #6D6D0C;
}

.additionally-date {
    margin: -15px 0 15px 0;
}

.additionally-date > a {
    text-decoration: underline;
    margin-right: 10px;
}

label.label-category-limits {
    font-weight: bold;
    color: #616161;
    margin-left: 15px;
    padding-top: 12px;
}

ul.total-category-limits {
    left: 25px;
    list-style: none;
}

ul.total-category-limits > li {
    margin: 0 3px 0 -35px;
    padding: 2px 2px 2px 5px;
    font-size: 12px;
}

ul.total-category-limits > li.no-debt {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin-bottom: 5px;
}

ul.total-category-limits > li.no-debt span.info-category-limits {
    color: #468847;
    margin-bottom: 5px;
}

ul.total-category-limits > li.debt {
    background-color: #f2dede;
    border-color: #eed3d7;
    margin-bottom: 5px;
}

ul.total-category-limits > li.debt span.info-category-limits {
    color: #b94a48;
}

ul.total-category-limits > li > span.title-category-limits {
    display: flex;
}

ul.total-category-limits > li > span.info-category-limits {
    display: flow-root;
}

ul.total-category-limits > li span.info-category-limits-title {
    float: left;
}

ul.total-category-limits > li span.info-category-limits-limit {
    float: right;
}
